@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 60%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 55%; } }
  @media (max-width: 23em) {
    html {
      font-size: 48%; } }

body {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

@keyframes nav-down {
  from {
    top: -10rem;
    opacity: 0; }
  to {
    top: 9.6rem;
    opacity: 1; } }

@keyframes cart-animation {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.heading-1 {
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-2 {
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase; }

.heading-3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  font-weight: 700;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-5 {
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: .17rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 1.3px;
  font-weight: 700;
  text-transform: uppercase; }

.heading-overline {
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 400; }

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 1.1px; }

/* 1110px სიგანე */
.width-center {
  max-width: 111rem;
  margin: 0 auto; }

.side-padding {
  padding-left: 4rem;
  padding-right: 4rem; }

.side-margin {
  margin: 0 4rem 0 4rem; }

.for-blur {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%; }

.display-block {
  display: block; }

.overflow {
  overflow: hidden; }

.main-color {
  background-color: #fafafa; }

/* ----------- BUTTON ---------- */
.btn:link, .btn:visited {
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all .2s;
  position: relative; }

.btn-shop {
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
  margin: 0 auto; }
  .btn-shop::after {
    content: url(/assets/shared/desktop/icon-arrow-right.svg);
    position: absolute;
    left: 5rem; }
  .btn-shop:hover {
    color: #D87D4A; }

.btn-orange {
  width: 16.5rem;
  background-color: #D87D4A;
  color: #fff;
  padding: 1.5rem 3rem; }
  .btn-orange:hover {
    background-color: #FBAF85; }

.btn-black {
  width: 16.5rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 3rem; }
  .btn-black:hover {
    background-color: #4C4C4C; }

.btn-transparent {
  width: 16.5rem;
  border: 1px solid #000;
  color: #000;
  padding: 1.5rem 3rem; }
  .btn-transparent:hover {
    background-color: #000;
    color: #fff; }

.cart {
  position: absolute;
  top: 14rem;
  right: 0;
  width: 37.7rem;
  height: auto;
  padding: 3.2rem;
  background-color: #fff;
  border-radius: 1rem;
  animation: cart-animation .2s;
  z-index: 200;
  display: none;
  flex-direction: column;
  row-gap: 3.2rem; }
  @media (max-width: 37.5em) {
    .cart {
      right: 50%;
      transform: translateX(50%); } }
  @media (max-width: 23em) {
    .cart {
      max-width: 37.7rem;
      width: auto; } }
  .cart-amount, .cart-checkout-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .cart-items, .cart-checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem; }
  .cart-items {
    list-style: none; }
    .cart-items-item {
      width: 100%;
      height: 6.4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .cart-items-item-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1.6rem; }
        .cart-items-item-left .cart-img-div {
          width: 6.4rem; }
          .cart-items-item-left .cart-img-div img {
            width: 100%;
            border-radius: .5rem; }
        .cart-items-item-left .cart-product-information p {
          font-weight: 700; }
          .cart-items-item-left .cart-product-information p:nth-child(1) {
            color: #000; }
          .cart-items-item-left .cart-product-information p:nth-child(2) {
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.5); }
      .cart-items-item-right {
        display: flex;
        align-items: center; }
        .cart-items-item-right .add-cart {
          display: inline-flex;
          column-gap: 1.2rem;
          border-radius: .5rem; }
          .cart-items-item-right .add-cart-number {
            height: 3.2rem;
            display: inline-flex;
            background-color: #F1F1F1; }
            .cart-items-item-right .add-cart-number button, .cart-items-item-right .add-cart-number p {
              height: 100%;
              width: 4rem;
              display: flex;
              align-items: center;
              justify-content: center; }
            .cart-items-item-right .add-cart-number p {
              font-size: 1.3rem;
              line-height: 1.8rem;
              font-weight: 700;
              transition: all .3s; }
            .cart-items-item-right .add-cart-number button {
              text-decoration: none;
              border: none;
              cursor: pointer; }
              .cart-items-item-right .add-cart-number button:hover {
                color: #D87D4A; }
  .cart-amount a {
    text-decoration: underline;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    transition: .3s; }
    .cart-amount a:hover {
      color: #D87D4A; }
  .cart-checkout-total p {
    text-transform: uppercase; }
  .cart-checkout-total h6::before {
    content: "$ "; }
  .cart-checkout .btn {
    width: 100%;
    text-align: center; }

.display-cart {
  display: flex; }

.cart-container {
  position: relative; }

.category-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem; }
  @media (max-width: 37.5em) {
    .category-nav {
      grid-template-columns: 1fr;
      grid-row-gap: 6.8rem; } }
  .category-nav-item {
    width: 100%;
    height: 20rem;
    background-color: #F1F1F1;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .category-nav-item-space {
      height: 60%; }
    .category-nav-item-img {
      width: 15rem;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 10%); }
      .category-nav-item-img img {
        width: 100%; }
    .category-nav-item h6 {
      text-align: center; }

.category {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .category > * {
    margin-top: 12rem; }
  .category:last-child {
    margin-bottom: 12rem; }
  .category-card {
    width: 100%;
    height: auto; }
    .category-card-left {
      width: 50%; }
      .category-card-left img {
        width: 100%;
        border-radius: 1rem; }
      @media (max-width: 62.5em) {
        .category-card-left {
          width: 100%; } }
    .category-card-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .category-card-right .heading-overline {
        margin-bottom: 1.6rem;
        color: #D87D4A; }
      .category-card-right .heading-2 {
        margin-bottom: 3.2rem; }
        .category-card-right .heading-2 span {
          color: #D87D4A; }
      .category-card-right .paragraph {
        margin-bottom: 4rem; }
      @media (max-width: 62.5em) {
        .category-card-right {
          align-items: center;
          width: 80%;
          margin: 0 auto;
          text-align: center; } }
      @media (max-width: 37.5em) {
        .category-card-right {
          width: 100%; } }
  .category .cat-1, .category .cat-3 {
    display: flex;
    flex-direction: row;
    column-gap: 10%; }
    @media (max-width: 62.5em) {
      .category .cat-1, .category .cat-3 {
        flex-direction: column;
        row-gap: 5.2rem; } }
    @media (max-width: 37.5em) {
      .category .cat-1, .category .cat-3 {
        row-gap: 3.2rem; } }
  .category .cat-2 {
    display: flex;
    flex-direction: row;
    column-gap: 10%; }
    @media (max-width: 62.5em) {
      .category .cat-2 {
        flex-direction: column-reverse;
        row-gap: 5.2rem; } }
    @media (max-width: 37.5em) {
      .category .cat-2 {
        row-gap: 3.2rem; } }

.checkout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (max-width: 62.5em) {
    .checkout {
      flex-direction: column; } }
  .checkout-information {
    width: 65%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem; }
    @media (max-width: 62.5em) {
      .checkout-information {
        width: 100%; } }
    .checkout-information .heading-div {
      padding-top: 1rem; }
    .checkout-information-form {
      width: 100%; }
      .checkout-information-form .paragraph-div {
        padding-bottom: 1.6rem; }
        .checkout-information-form .paragraph-div p {
          font-size: 1.3rem;
          font-weight: 700;
          color: #D87D4A;
          letter-spacing: .9px;
          text-transform: uppercase; }
      .checkout-information-form-inputs {
        width: 100%;
        display: grid;
        grid-column-gap: 1.6rem;
        grid-row-gap: 2.4rem; }
        .checkout-information-form-inputs .input-div {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: .9rem; }
          .checkout-information-form-inputs .input-div label {
            font-size: 1.2rem;
            font-weight: 700; }
          .checkout-information-form-inputs .input-div input {
            height: 5.6rem;
            padding-left: 2.4rem;
            border-radius: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.2); }
            .checkout-information-form-inputs .input-div input:focus {
              outline: 2px solid #D87D4A;
              border: none; }
            .checkout-information-form-inputs .input-div input:focus:invalid {
              outline: 1px solid red; }
      .checkout-information-form .grid1 {
        grid-template-columns: 1fr 1fr; }
        @media (max-width: 37.5em) {
          .checkout-information-form .grid1 {
            grid-template-columns: 1fr; } }
      .checkout-information-form .grid2 {
        grid-template-areas: "a a" "b c" "d ."; }
        @media (max-width: 37.5em) {
          .checkout-information-form .grid2 {
            grid-template-areas: "a" "b" "c" "d"; } }
        .checkout-information-form .grid2-a {
          grid-area: a; }
        .checkout-information-form .grid2-b {
          grid-area: b; }
        .checkout-information-form .grid2-c {
          grid-area: c; }
        .checkout-information-form .grid2-d {
          grid-area: d; }
  .checkout-summary {
    width: 31%;
    height: 30rem;
    background-color: #fff;
    border-radius: 1rem; }
    @media (max-width: 62.5em) {
      .checkout-summary {
        width: 100%; } }

.footer {
  padding-bottom: 5rem;
  width: 100%;
  height: auto;
  background-color: #101010; }
  .footer-rect {
    width: 10rem;
    height: .4rem;
    background-color: #D87D4A; }
    @media (max-width: 37.5em) {
      .footer-rect {
        margin: 0 auto; } }
  .footer-nav {
    padding-top: 3.8rem;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 62.5em) {
      .footer-nav {
        flex-direction: column; } }
    @media (max-width: 37.5em) {
      .footer-nav {
        align-items: center; } }
    .footer-nav-logo {
      padding-top: 3.2rem; }
    .footer-nav-links {
      padding: 3.2rem 0 3.2rem 0;
      max-width: 50rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      display: flex;
      justify-content: space-between; }
      @media (max-width: 37.5em) {
        .footer-nav-links {
          flex-direction: column;
          align-items: center;
          justify-content: unset; } }
      .footer-nav-links li {
        list-style: none; }
        .footer-nav-links li:not(:last-child) {
          padding-right: 3.4rem; }
          @media (max-width: 37.5em) {
            .footer-nav-links li:not(:last-child) {
              padding-right: 0; } }
        @media (max-width: 37.5em) {
          .footer-nav-links li {
            padding: .8rem 0; } }
        .footer-nav-links li a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          letter-spacing: .2rem;
          transition: all .2s; }
          .footer-nav-links li a:hover {
            color: #D87D4A; }
  .footer-bottom {
    display: grid;
    grid-template-areas: "a c" "b d";
    grid-column-gap: 8rem;
    grid-row-gap: 8rem; }
    @media (max-width: 62.5em) {
      .footer-bottom {
        grid-template-areas: "a a" "b c"; } }
    @media (max-width: 37.5em) {
      .footer-bottom {
        grid-template-areas: "a" "b" "c";
        grid-row-gap: 4.8rem;
        text-align: center; } }
    .footer-bottom-paragraph {
      width: 54rem;
      grid-area: a;
      justify-self: start;
      color: rgba(255, 255, 255, 0.5); }
      @media (max-width: 62.5em) {
        .footer-bottom-paragraph {
          width: 100%; } }
      .footer-bottom-paragraph p {
        letter-spacing: normal;
        font-weight: 500; }
    .footer-bottom-copyright {
      color: rgba(255, 255, 255, 0.5);
      grid-area: b; }
      .footer-bottom-copyright p {
        letter-spacing: normal;
        font-weight: 500; }
    .footer-bottom-icons {
      grid-area: c;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: flex-end; }
      @media (max-width: 37.5em) {
        .footer-bottom-icons {
          justify-content: center;
          align-items: center; } }
      .footer-bottom-icons a img:hover {
        filter: invert(51%) sepia(14%) saturate(1759%) hue-rotate(338deg) brightness(105%) contrast(95%); }
      .footer-bottom-icons a:not(:last-child) {
        padding: .8rem; }
      .footer-bottom-icons a:last-child {
        padding: .8rem 0 .8rem .8rem; }

.header {
  width: 100%;
  background-color: #101010; }
  .header-nav {
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 100;
    /* ----Burger---- */ }
    .header-nav .burger {
      width: 20px;
      height: 16px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer; }
      .header-nav .burger .line-1, .header-nav .burger .line-2, .header-nav .burger .line-3 {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s; }
      @media (max-width: 62.5em) {
        .header-nav .burger {
          display: flex; } }
      @media (max-width: 37.5em) {
        .header-nav .burger {
          display: flex; } }
    .header-nav .toggle .line-1 {
      transform: rotate(45deg) translate(5px, 5px); }
    .header-nav .toggle .line-2 {
      opacity: 0; }
    .header-nav .toggle .line-3 {
      transform: rotate(-45deg) translate(5px, -5px); }
    .header-nav-links {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      display: flex;
      justify-content: space-between; }
      .header-nav-links li {
        list-style: none; }
        .header-nav-links li a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          letter-spacing: .2rem;
          padding: .9rem 1.7rem;
          transition: all .2s; }
          .header-nav-links li a:hover {
            color: #D87D4A; }
      @media (max-width: 62.5em) {
        .header-nav-links {
          display: none; } }
    .header-nav-cart {
      cursor: pointer; }
  .header .burger-nav {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 34rem;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation: nav-down .4s ease-in-out;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    padding: 10rem 2rem 2rem 2rem; }
    @media (max-width: 37.5em) {
      .header .burger-nav {
        grid-template-columns: 1fr;
        grid-row-gap: 6.8rem;
        height: auto; } }
    .header .burger-nav-item {
      width: 100%;
      height: 20rem;
      background-color: #F1F1F1;
      border-radius: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header .burger-nav-item-space {
        height: 60%; }
      .header .burger-nav-item-img {
        width: 15rem;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 10%); }
        .header .burger-nav-item-img img {
          width: 100%; }
      .header .burger-nav-item h6 {
        text-align: center; }
  .header .display-nav {
    top: 9.6rem;
    display: grid; }
  .header-container {
    width: 100%;
    height: 100%;
    position: relative; }
    .header-container-child {
      position: absolute;
      left: 0;
      top: 40%;
      transform: translateY(-50%);
      color: #fff;
      width: 40rem;
      height: 36rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .header-container-child .heading-overline {
        opacity: .5; }
      .header-container-child p {
        opacity: .75; }
      @media (max-width: 62.5em) {
        .header-container-child {
          align-items: center;
          left: 50%;
          top: 40%;
          transform: translate(-50%, -50%);
          text-align: center; } }
  .header-category {
    width: 100%;
    display: flex;
    justify-content: center; }
    .header-category h2 {
      padding: 9.7rem 0 9.7rem 0;
      color: #fff; }
      @media (max-width: 37.5em) {
        .header-category h2 {
          padding: 3.2rem 0 3.2rem 0; } }

.header-home {
  height: 73rem;
  background-image: url(/assets/home/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center; }
  @media (max-width: 62.5em) {
    .header-home {
      background-image: url(/assets/home/tablet/image-header.jpg); } }
  @media (max-width: 37.5em) {
    .header-home {
      background-image: url(/assets/home/mobile/image-header.jpg); } }

.product {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .product > * {
    margin-bottom: 16rem; }
    @media (max-width: 62.5em) {
      .product > * {
        margin-bottom: 12rem; } }
  .product-card {
    width: 100%;
    height: auto; }
    @media (max-width: 37.5em) {
      .product-card {
        flex-direction: column; } }
    .product-card-left {
      width: 50%; }
      .product-card-left img {
        width: 100%;
        border-radius: 1rem; }
      @media (max-width: 62.5em) {
        .product-card-left {
          width: 40%; } }
      @media (max-width: 37.5em) {
        .product-card-left {
          width: 100%; } }
    .product-card-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (max-width: 62.5em) {
        .product-card-right {
          width: 55%; } }
      @media (max-width: 37.5em) {
        .product-card-right {
          width: 100%; } }
      .product-card-right .heading-overline {
        margin-bottom: 1.6rem;
        color: #D87D4A; }
      .product-card-right .heading-2, .product-card-right .paragraph {
        margin-bottom: 3.2rem; }
        .product-card-right .heading-2 span, .product-card-right .paragraph span {
          color: #D87D4A; }
      .product-card-right .heading-6 {
        margin-bottom: 4rem; }
        .product-card-right .heading-6::before {
          content: "$ "; }
      .product-card-right .add-cart {
        display: inline-flex;
        column-gap: 1.6rem; }
        .product-card-right .add-cart-number {
          height: 4.8rem;
          display: inline-flex;
          background-color: #F1F1F1; }
          .product-card-right .add-cart-number button, .product-card-right .add-cart-number p {
            height: 100%;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center; }
          .product-card-right .add-cart-number p {
            font-size: 1.3rem;
            line-height: 1.8rem;
            font-weight: 700;
            transition: all .3s; }
          .product-card-right .add-cart-number button {
            text-decoration: none;
            border: none;
            cursor: pointer; }
            .product-card-right .add-cart-number button:hover {
              color: #D87D4A; }
  .product-information {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    row-gap: 12rem; }
    @media (max-width: 62.5em) {
      .product-information {
        flex-direction: column; } }
    @media (max-width: 37.5em) {
      .product-information {
        row-gap: 8.8rem; } }
    .product-information-left, .product-information-right {
      display: flex;
      flex-direction: column;
      row-gap: 3.2rem; }
    .product-information-left {
      width: 60%; }
      @media (max-width: 62.5em) {
        .product-information-left {
          width: 100%; } }
      .product-information-left p {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        letter-spacing: normal; }
    .product-information-right {
      width: 30%; }
      @media (max-width: 62.5em) {
        .product-information-right {
          width: 100%;
          flex-direction: row;
          column-gap: 12rem; } }
      @media (max-width: 37.5em) {
        .product-information-right {
          flex-direction: column; } }
      .product-information-right-list {
        display: flex;
        flex-direction: column;
        row-gap: .8rem; }
        .product-information-right-list-div {
          display: inline-flex;
          column-gap: 2.4rem; }
          .product-information-right-list-div span {
            font-weight: 700;
            color: #D87D4A; }
          .product-information-right-list-div p {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 500; }
  .product-photos {
    width: 100%;
    display: grid;
    grid-template-areas: "a c" "b c";
    grid-template-columns: 40% 1fr;
    grid-gap: 3rem; }
    @media (max-width: 62.5em) {
      .product-photos {
        grid-gap: 2rem; } }
    @media (max-width: 37.5em) {
      .product-photos {
        grid-template-areas: "a" "b" "c";
        grid-template-columns: 1fr; } }
    .product-photos-1 img, .product-photos-2 img, .product-photos-3 img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1rem; }
    .product-photos-1 {
      grid-area: a; }
    .product-photos-2 {
      grid-area: b; }
    .product-photos-3 {
      grid-area: c; }
  .product-also {
    width: 100%; }
    .product-also-heading {
      width: 100%;
      text-align: center;
      padding-bottom: 6.4rem; }
    .product-also-items {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 3rem; }
      @media (max-width: 62.5em) {
        .product-also-items {
          column-gap: 1.1rem; } }
      @media (max-width: 37.5em) {
        .product-also-items {
          flex-direction: column;
          row-gap: 5.6rem; } }
      .product-also-items-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .product-also-items-item img {
          width: 100%;
          border-radius: 1rem;
          padding-bottom: 4rem; }
        .product-also-items-item h4 {
          padding-bottom: 3.2rem; }
  .product-card-inf {
    width: 100%;
    height: auto; }
    .product-card-inf-left {
      width: 50%; }
      .product-card-inf-left img {
        width: 100%;
        border-radius: 1rem; }
      @media (max-width: 62.5em) {
        .product-card-inf-left {
          width: 100%; } }
    .product-card-inf-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .product-card-inf-right .heading-2, .product-card-inf-right .paragraph {
        margin-bottom: 3.2rem; }
        .product-card-inf-right .heading-2 span, .product-card-inf-right .paragraph span {
          color: #D87D4A; }
      @media (max-width: 62.5em) {
        .product-card-inf-right {
          align-items: center;
          width: 80%;
          margin: 0 auto;
          text-align: center; } }
      @media (max-width: 37.5em) {
        .product-card-inf-right {
          width: 100%; } }
  .product .cat-1 {
    display: flex;
    flex-direction: row;
    column-gap: 10%; }
    @media (max-width: 62.5em) {
      .product .cat-1 {
        column-gap: 5%; } }
    @media (max-width: 37.5em) {
      .product .cat-1 {
        flex-direction: column;
        row-gap: 3.2rem; } }
  .product .cat-2 {
    display: flex;
    flex-direction: row;
    column-gap: 10%; }
    @media (max-width: 62.5em) {
      .product .cat-2 {
        flex-direction: column-reverse;
        row-gap: 5.2rem; } }
    @media (max-width: 37.5em) {
      .product .cat-2 {
        row-gap: 3.2rem; } }
  .product-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem; }
    @media (max-width: 37.5em) {
      .product-nav {
        grid-template-columns: 1fr;
        grid-row-gap: 6.8rem; } }
    .product-nav-item {
      width: 100%;
      height: 20rem;
      background-color: #F1F1F1;
      border-radius: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .product-nav-item-space {
        height: 60%; }
      .product-nav-item-img {
        width: 15rem;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 10%); }
        .product-nav-item-img img {
          width: 100%; }
      .product-nav-item h6 {
        text-align: center; }

.goback-div {
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  @media (max-width: 62.5em) {
    .goback-div {
      height: 8rem; } }
  .goback-div a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500; }
    .goback-div a:hover {
      text-decoration: underline; }

/* ------------- MAIN ------------- */
.home-main {
  background-color: #fafafa;
  padding-top: 20rem;
  padding-bottom: 20rem;
  /* --------- SECTION 2 ------------ */
  /* --------- SECTION 3 ------------ */
  /* --------- SECTION 4 ------------ */
  /* --------- SECTION 5 ------------ */ }
  @media (max-width: 62.5em) {
    .home-main {
      padding-top: 12rem;
      padding-bottom: 12rem; } }
  .home-main .section {
    border-radius: .5rem; }
  .home-main .section-2 {
    width: 100%;
    height: 56rem;
    background-color: #D87D4A;
    margin-top: 16.8rem;
    position: relative;
    overflow: hidden;
    display: flex;
    padding-top: 1rem; }
    @media (max-width: 62.5em) {
      .home-main .section-2 {
        flex-direction: column;
        height: 70rem; } }
    .home-main .section-2 .circle {
      border-radius: 50%;
      border: 1px solid rgba(250, 250, 250, 0.2);
      position: absolute;
      top: 80%;
      left: 33%;
      transform: translate(-50%, -50%); }
      @media (max-width: 62.5em) {
        .home-main .section-2 .circle {
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%); } }
    .home-main .section-2 #circle1 {
      width: 47rem;
      height: 47rem; }
    .home-main .section-2 #circle2 {
      width: 54rem;
      height: 54rem; }
    .home-main .section-2 #circle3 {
      width: 94rem;
      height: 94rem; }
    .home-main .section-2 .sec2-for-img {
      width: 50%;
      position: relative; }
      @media (max-width: 62.5em) {
        .home-main .section-2 .sec2-for-img {
          height: 50%;
          width: 100%; } }
      .home-main .section-2 .sec2-for-img img {
        width: 41rem;
        position: absolute;
        bottom: -1.5rem;
        left: 10rem; }
        @media (max-width: 62.5em) {
          .home-main .section-2 .sec2-for-img img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20rem; } }
    .home-main .section-2 .sec2-container {
      width: 36rem;
      margin-left: 10rem;
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      @media (max-width: 62.5em) {
        .home-main .section-2 .sec2-container {
          text-align: center;
          align-items: center;
          height: 50%;
          margin: 0 auto;
          padding: 10rem 0; } }
      .home-main .section-2 .sec2-container > *:not(:last-child) {
        margin-bottom: 2.5rem; }
      .home-main .section-2 .sec2-container p {
        opacity: .75; }
  .home-main .section-3 {
    margin-top: 5rem;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .home-main .section-3 img {
      width: 100%; }
    .home-main .section-3 .sec3-container {
      width: 22rem;
      height: 12rem;
      position: absolute;
      top: 50%;
      left: 10rem;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media (max-width: 37.5em) {
        .home-main .section-3 .sec3-container {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); } }
  .home-main .section-4 {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2.4rem; }
    @media (max-width: 37.5em) {
      .home-main .section-4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(20rem, auto); } }
    .home-main .section-4 .sec4-left, .home-main .section-4 .sec4-right {
      border-radius: .5rem;
      height: 99%; }
      @media (max-width: 37.5em) {
        .home-main .section-4 .sec4-left, .home-main .section-4 .sec4-right {
          max-height: 500px; } }
    .home-main .section-4 .sec4-left {
      overflow: hidden; }
      .home-main .section-4 .sec4-left img {
        width: 100%; }
    .home-main .section-4 .sec4-right {
      width: 100%;
      background-color: #F1F1F1;
      position: relative; }
      .home-main .section-4 .sec4-right .sec4-container {
        height: 12rem;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
  .home-main .section-5 {
    width: 100%;
    height: auto;
    margin-top: 20rem;
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 4rem; }
    @media (max-width: 62.5em) {
      .home-main .section-5 {
        grid-template-areas: "b" "a";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr minmax(20rem, auto); } }
    .home-main .section-5-left, .home-main .section-5-right {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden; }
    .home-main .section-5-left {
      grid-area: a;
      display: flex;
      align-items: center; }
      .home-main .section-5-left-container {
        height: 30rem;
        width: 44.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media (max-width: 62.5em) {
          .home-main .section-5-left-container {
            width: 80%;
            margin: 0 auto;
            height: auto;
            text-align: center; } }
        @media (max-width: 37.5em) {
          .home-main .section-5-left-container {
            width: 100%; } }
        .home-main .section-5-left-container .heading-2 span {
          color: #D87D4A; }
        @media (max-width: 62.5em) {
          .home-main .section-5-left-container .heading-2 {
            margin-bottom: 3.2rem; } }
        .home-main .section-5-left-container .paragraph {
          color: rgba(0, 0, 0, 0.5);
          letter-spacing: normal;
          font-weight: 500; }
    .home-main .section-5-right {
      grid-area: b; }
      .home-main .section-5-right img {
        width: 100%; }
