@mixin flex-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Media query

@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media (max-width: 23em) { @content }; // Less than 400px
    }
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tablet {
        @media (max-width: 62.5em) { @content }; // 1000px
    }
}