$color-primary: #D87D4A;
$color-primary-light: #FBAF85;
$color-primary-svg: invert(51%) sepia(14%) saturate(1759%) hue-rotate(338deg) brightness(105%) contrast(95%);

$color-white: #fff;
$color-secondary-light2: #fafafa;
$color-secondary-light3: #F1F1F1;

$color-black: #000;
$color-secondary-dark2: #101010;
$color-secondary-dark3: #4C4C4C;