.category {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > * {
        margin-top: 12rem;
    }

    &:last-child {
        margin-bottom: 12rem;
    }

    &-card {
        width: 100%;
        height: auto;

        &-left {
            width: 50%;
            img {
                width: 100%;
                border-radius: 1rem;
            }
            @include respond(tablet) {
                width: 100%;
            }
        }

        &-right {
            width: 40%;
            display: flex;
            flex-direction: column;

            justify-content: center;

            .heading-overline {
                margin-bottom: 1.6rem;
                color: $color-primary;
            }

            .heading-2 {
                margin-bottom: 3.2rem;

                span {
                    color: $color-primary;
                }
            }

            .paragraph {
                margin-bottom: 4rem;
            }

            @include respond(tablet) {
                align-items: center;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            @include respond(phone) {
                width: 100%;
            }
        }

    }

    .cat-1, .cat-3 {
        display: flex;
        flex-direction: row;
        column-gap: 10%;

        @include respond(tablet) {
            flex-direction: column;
            row-gap: 5.2rem;
        }

        @include respond(phone) {
            row-gap: 3.2rem;
        }
    }

    .cat-2 {
        display: flex;
        flex-direction: row;
        column-gap: 10%;

        @include respond(tablet) {
            flex-direction: column-reverse;
            row-gap: 5.2rem;
        }

        @include respond(phone) {
            row-gap: 3.2rem;
        }
    }
}