.checkout {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(tablet) {
        flex-direction: column;
    }

    &-information {
        width: 65%;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 4.8rem;

        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        @include respond(tablet) {
            width: 100%;
        }

        .heading-div {
            padding-top: 1rem;
        }

        &-form {
            width: 100%;

            .paragraph-div {
                padding-bottom: 1.6rem;

                p {
                    font-size: 1.3rem;
                    font-weight: 700;
                    color: $color-primary;
                    letter-spacing: .9px;
                    text-transform: uppercase;
                }
            }

            &-inputs {
                width: 100%;

                display: grid;

                grid-column-gap: 1.6rem;
                grid-row-gap: 2.4rem;

                .input-div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: .9rem;

                    label {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }

                    input {
                        height: 5.6rem;
                        padding-left: 2.4rem;
                        border-radius: 1rem;
                        border: 1px solid rgba($color-black, .2);

                        &:focus {
                            outline: 2px solid $color-primary;
                            border: none;
                        }

                        &:focus:invalid {
                            outline: 1px solid red;
                        }
                    }
                }
            }

            .grid1 {
                grid-template-columns: 1fr 1fr;

                @include respond(phone) {
                    grid-template-columns: 1fr;
                }
            }

            .grid2 {
                grid-template-areas: 
                "a a"
                "b c"
                "d .";

                @include respond(phone) {
                    grid-template-areas: 
                    "a"
                    "b"
                    "c"
                    "d";
                }

                &-a {
                    grid-area: a;
                }

                &-b {
                    grid-area: b;
                }

                &-c {
                    grid-area: c;
                }

                &-d {
                    grid-area: d;
                }

            }
        }
    }

    &-summary {
        width: 31%;
        height: 30rem;
        background-color: $color-white;
        border-radius: 1rem;

        @include respond(tablet) {
            width: 100%;
        }
    }
}