.header {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/home/desktop/image-hero.jpg);
    background-size: cover;
    background-position: top;

    &-nav {
        height: 9.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($color-white, 0.2);

        &-logo {
            text-transform: lowercase;

            a {
                text-decoration: none;
                color: $color-white;
                font-size: 3rem;
                font-weight: 600;
            }
        }

        &-links {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $color-white;
                    letter-spacing: .2rem;
                    padding: .9rem 1.7rem;
                    transition: all .2s;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    &-container {
        margin-top: 12.8rem;
        color: $color-white;
        width: 40rem;
        height: 36rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            opacity: .5;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            font-weight: 300;
        }

        h1 {
            font-size: 5.6rem;
            text-transform: uppercase;
            line-height: 5.8rem;
        }

        p {
            opacity: .75;
            font-size: 1.5rem;
            letter-spacing: 1.2px;
            font-weight: 200;
            line-height: 2.5rem;
            text-transform: capitalize;
        }
    }
}