.header {
    width: 100%;

    background-color: $color-secondary-dark2;

    &-nav {
        height: 9.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($color-white, 0.2);
        position: relative;
        z-index: 100;

        /* ----Burger---- */
        .burger {
            width: 20px;
            height: 16px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer; 
            
            .line-1, .line-2, .line-3 {
                width: 100%;
                height: 2px;
                background-color: $color-white;
                transition: all 0.3s;
            }

            @include respond(tablet) {
                display: flex;
            }
            @include respond(phone) {
                display: flex;
            }
        }

        .toggle {
            .line-1{
                transform: rotate(45deg) translate(5px, 5px);
            } 

            .line-2{
                opacity: 0;
            }

            .line-3{
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        &-links {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
            
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $color-white;
                    letter-spacing: .2rem;
                    padding: .9rem 1.7rem;
                    transition: all .2s;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }

            @include respond(tablet) {
                display: none;
            }
        }
    }

    .burger-nav {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 34rem;
        background-color: $color-white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        animation: nav-down .4s ease-in-out;

        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        padding: 10rem 2rem 2rem 2rem;

        @include respond(phone) {
            grid-template-columns: 1fr;
            grid-row-gap: 6.8rem;
            height: auto;
        }
    
        &-item {
            width: 100%;
            height: 20rem;
            background-color: $color-secondary-light3;
            border-radius: 5px;
            position: relative;
        
            display: flex;
            flex-direction: column;
            align-items: center;

            &-space {
                height: 60%;
            }

            &-img {
                width: 15rem;
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 10%);

                img {
                    width: 100%;
                }
            }

            h6 {
                text-align: center;
            }
        }  
    }

    .display-nav {
        top: 9.6rem;
        display: grid;
    }

    &-container {
        width: 100%;
        height: 100%;
        position: relative;

        &-child {
            position: absolute;
            left: 0;
            top: 40%;
            transform: translateY(-50%);
            color: $color-white;
            width: 40rem;
            height: 36rem;

            @include flex-space-between;

            .heading-overline {
                opacity: .5;
            }

            p {
                opacity: .75;
            }

            @include respond(tablet) {
                align-items: center;
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }        
    }

    &-category {
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            padding: 9.7rem 0 9.7rem 0;
            color: $color-white;

            @include respond(phone) {
                padding: 3.2rem 0 3.2rem 0;
            }
        }
    }
}

.header-home {
    height: 73rem;
    background-image: url(/assets/home/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;

    @include respond(tablet) {
        background-image: url(/assets/home/tablet/image-header.jpg);
    }

    @include respond(phone) {
        background-image: url(/assets/home/mobile/image-header.jpg);
    }
}