@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --light1: #fafafa;
    --light2: #F1F1F1;
    --black: #000;
    --black-light: #101010;
    --black-light-2: #4C4C4C;
    --orange: #D87D4A;  
    --orange-light: #FBAF85;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box; 
    font-family: 'Manrope', sans-serif;
}

/* 165px დაშორება გვერდებიდან */
.side-padding {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}

/*------------ HEADER -------------*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/home/desktop/image-hero.jpg);
    background-size: cover;
    background-position: top;
}

.header .header-nav {
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .nav-logo {
    text-transform: lowercase;
}

.header .nav-logo a {
    text-decoration: none;
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;

}

.header .nav-links {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    
    display: flex;
    justify-content: space-between;
}

.header .nav-links li {
    list-style: none;
}

.header .nav-links li a{
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    letter-spacing: .2rem;
    padding: .9rem 1.7rem;
    transition: all .2s;
}

.header .nav-links li a:hover {
    color: var(--orange);
}

/* .header .nav-cart {

} */

.header .header-container {
    margin-top: 12.8rem;
    color: var(--white);
    width: 40rem;
    height: 36rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .header-container h4 {
    opacity: .5;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 300;
}

.header .header-container h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
    line-height: 5.8rem;
}

.header .header-container p {
    opacity: .75;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 200;
    line-height: 2.5rem;
    text-transform: capitalize;
}

/* ------------- MAIN ------------- */
main {
    background-color: var(--light1);
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.section {
    border-radius: .5rem;
}

/* --------- SECTION 1 ------------ */
.section-1 {
    display: flex;
    justify-content: space-between;
}

.section-1 .sec1-item {
    width: 35rem;
    height: 20rem;
    background-color: var(--light2);
    border-radius: 5px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 .sec1-item .sec1-item-space {
    height: 60%;
}

.section-1 .sec1-item .sec1-item-img {
    width: 20rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 10%);
}

.section-1 .sec1-item .sec1-item-img img {
    width: 100%;
}

.section-1 .sec1-item h6 {
    font-size: 1.8rem;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

/* --------- SECTION 2 ------------ */

.section-2 {
    width: 100%;
    height: 56rem;
    background-color: var(--orange);
    margin-top: 16.8rem;
    position: relative;
    overflow: hidden;
}

.section-2 .circle {
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, .2);
    position: absolute;
    top: 80%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.section-2 #circle1 {
    width: 47rem;
    height: 47rem;
}

.section-2 #circle2 {
    width: 54rem;
    height: 54rem;
}

.section-2 #circle3 {
    width: 94rem;
    height: 94rem;
}


.section-2 .sec2-for-img {
    width: 50%;
    position: absolute;
    bottom: -1.5rem;
    left: 20rem;
}

.section-2 .sec2-for-img img {
    width: 65%;
}

.section-2 .sec2-container {
    position: absolute;
    right: 9.5rem;
    top: 13rem;
    width: 35rem;
    height: 30rem;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2 .sec2-container h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
    line-height: 5.8rem;
}

.section-2 .sec2-container p {
    opacity: .75;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 200;
    line-height: 2.5rem;
    text-transform: capitalize;
}

/* --------- SECTION 3 ------------ */

.section-3 {
    margin-top: 5rem;
    width: 100%;
    height: 32rem;
    background-image: url(./assets/home/desktop/image-speaker-zx7.jpg);
    background-size: cover;
    background-position: top;

    position: relative;
}

.section-3 .sec3-container {
    width: 22rem;
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-3 .sec3-container h4 {
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 3.8rem;
    letter-spacing: .2rem;
}

/* --------- SECTION 4 ------------ */

.section-4 {
    margin-top: 5rem;
    width: 100%;
    height: 32rem;

    display: flex;
    justify-content: space-between;
}

.section-4 .sec4-left, .section-4 .sec4-right {
    width: 54rem;
    height: 100%;
    border-radius: .5rem;
}

.section-4 .sec4-left {
    background-image: url(./assets/home/desktop/image-earphones-yx1.jpg);
    background-size: cover;
    background-position: top;
}

.section-4 .sec4-right {
    background-color: var(--light2);

    position: relative;

}

.section-4 .sec4-right .sec4-container {
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-4 .sec4-right h4 {
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 3.8rem;
    letter-spacing: .2rem;
}


/* -------------- FOOTER -------------- */
.footer {
    background-color: var(--black-light);
}

/* ----------- BUTTON ---------- */

.btn {
    font-size: 1.3rem;
    letter-spacing: 1.1px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .2s;
    position: relative;
}

.btn-shop {
    color: rgba(0, 0, 0, 0.5);
    padding: 2rem 10rem;
    margin: 0 auto;
}

.btn-shop::after {
    content: url(./assets/shared/desktop/icon-arrow-right.svg);
    position: absolute;
    left: 15rem;
}

.btn-shop:hover {
    color: var(--orange)
}

.btn-orange {
    width: 16.5rem;
    background-color: var(--orange);
    color: var(--white);
    padding: 1.5rem 3rem;
}

.btn-black {
    width: 16.5rem;
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem 3rem;
}

.btn-transparent {
    width: 16.5rem;
    border: 1px solid var(--black);
    color: var(--black);
    padding: 1.5rem 3rem;
}

.btn-transparent:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn-black:hover {
    background-color: var(--black-light-2);
}

.btn-orange:hover {
    background-color: var(--orange-light);
}