@keyframes nav-down {
    from {
        top: -10rem;
        opacity: 0;
    }

    to {
        top: 9.6rem;
        opacity: 1;
    }
}

@keyframes cart-animation {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}