*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; 

    @include respond(tablet) {
        font-size: 60%;
    }

    @include respond(phone) {
        font-size: 55%;
    }

    @include respond(small-phone) {
        font-size: 48%;
    }
}

body {
    box-sizing: border-box; 
    font-family: 'Manrope', sans-serif;
}