/* ------------- MAIN ------------- */
.home-main {
    background-color: $color-secondary-light2;
    padding-top: 20rem;
    padding-bottom: 20rem;

    @include respond(tablet) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .section {
        border-radius: .5rem;
    }

    /* --------- SECTION 1 ------------ */
    .section-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;

        @include respond(phone) {
            grid-template-columns: 1fr;
            grid-row-gap: 6.8rem;
        }

        .sec1-item {
            width: 100%;
            height: 20rem;
            background-color: $color-secondary-light3;
            border-radius: 5px;
            position: relative;
        
            display: flex;
            flex-direction: column;
            align-items: center;

            &-space {
                height: 60%;
            }

            &-img {
                width: 15rem;
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 10%);

                img {
                    width: 100%;
                }
            }

            h6 {
                text-align: center;
            }
        }  
    }

    /* --------- SECTION 2 ------------ */
    .section-2 {
        width: 100%;
        height: 56rem;
        background-color: $color-primary;
        margin-top: 16.8rem;
        position: relative;
        overflow: hidden;

        display: flex;

        padding-top: 1rem;

        @include respond(tablet) {
            flex-direction: column;
            height: 70rem;
        }

        .circle {
            border-radius: 50%;
            border: 1px solid rgba($color-secondary-light2, .2);
            position: absolute;
            top: 80%;
            left: 33%;
            transform: translate(-50%, -50%);

            @include respond(tablet) {
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        #circle1 {
            width: 47rem;
            height: 47rem;
        }

        #circle2 {
            width: 54rem;
            height: 54rem;
        }

        #circle3 {
            width: 94rem;
            height: 94rem;
        }

        .sec2-for-img {
            width: 50%;
            position: relative;

            @include respond(tablet) {
                height: 50%;
                width: 100%;
            }

            img {
                width: 41rem;
                position: absolute;
                bottom: -1.5rem;
                left: 10rem;

                @include respond(tablet) {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20rem;
                }
            }
        }

        .sec2-container {
            width: 36rem;
            margin-left: 10rem;

            color: $color-white;
    
            display: flex;
            justify-content: center;
            flex-direction: column;


            @include respond(tablet) {
                text-align: center;
                align-items: center;
                height: 50%;
                margin: 0 auto;
                padding: 10rem 0;
            }

            & > *:not(:last-child) {
                margin-bottom: 2.5rem;
            }

            p {
                opacity: .75;
            }
        }
    }

    /* --------- SECTION 3 ------------ */
    .section-3 {
        margin-top: 5rem;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }

        .sec3-container {
            width: 22rem;
            height: 12rem;
            position: absolute;
            top: 50%;
            left: 10rem;
            transform: translate(0, -50%);

            @include flex-space-between;

            @include respond(phone) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    /* --------- SECTION 4 ------------ */
    .section-4 {
        margin-top: 5rem;
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 2.4rem;

        @include respond(phone) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(20rem, auto);
        }

        .sec4-left, .sec4-right {
            border-radius: .5rem;
            height: 99%;
            
            @include respond(phone) {
                max-height: 500px;
            }
        }

        .sec4-left {
            overflow: hidden;
           
            img {
                width: 100%;
            }
        }

        .sec4-right {
            width: 100%;
            background-color: $color-secondary-light3;
            position: relative;

            .sec4-container {
                height: 12rem;
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-30%, -50%);

                @include flex-space-between;
            }
        }
    }

    /* --------- SECTION 5 ------------ */
    .section-5 {
        width: 100%;
        height: auto;
        margin-top: 20rem;

        display: grid;
        grid-template-areas: "a b";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 4rem;

        @include respond(tablet) {
            grid-template-areas:
            "b"
            "a";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(20rem, auto);
        }

        &-left, &-right {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            overflow: hidden;
        }

        &-left {
            grid-area: a;
            display: flex;
            align-items: center;

            &-container {
                height: 30rem;
                width: 44.5rem;

                @include flex-space-between;

                @include respond(tablet){
                    width: 80%;
                    margin: 0 auto;
                    height: auto;
                    text-align: center;
                }

                @include respond(phone) {
                    width: 100%;
                }

                .heading-2 {
                    span {
                        color: $color-primary;
                    }
                    @include respond(tablet) {
                        margin-bottom: 3.2rem;
                    }
                }

                .paragraph {
                    color: rgba($color-black, .5);
                    letter-spacing: normal;
                    font-weight: 500;
                }
            }
        }

        &-right {
            grid-area: b;
            img {
                width: 100%;
            }
        }
    }
}