/* ------------- MAIN ------------- */
main {
    background-color: $color-secondary-light2;
    padding-top: 20rem;
    padding-bottom: 20rem;

    .section {
        border-radius: .5rem;
    }

    /* --------- SECTION 1 ------------ */
    .section-1 {
        display: flex;
        justify-content: space-between;

        .sec1-item {
            width: 35rem;
            height: 20rem;
            background-color: $color-secondary-light3;
            border-radius: 5px;
            position: relative;
        
            display: flex;
            flex-direction: column;
            align-items: center;

            &-space {
                height: 60%;
            }

            &-img {
                width: 20rem;
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 10%);

                img {
                    width: 100%;
                }
            }

            h6 {
                text-align: center;
            }
        }  
    }

    /* --------- SECTION 2 ------------ */
    .section-2 {
        width: 100%;
        height: 56rem;
        background-color: $color-primary;
        margin-top: 16.8rem;
        position: relative;
        overflow: hidden;

        .circle {
            border-radius: 50%;
            border: 1px solid rgba($color-secondary-light2, .2);
            position: absolute;
            top: 80%;
            left: 33%;
            transform: translate(-50%, -50%);
        }

        #circle1 {
            width: 47rem;
            height: 47rem;
        }

        #circle2 {
            width: 54rem;
            height: 54rem;
        }

        #circle3 {
            width: 94rem;
            height: 94rem;
        }

        .sec2-for-img {
            width: 50%;
            position: absolute;
            bottom: -1.5rem;
            left: 20rem;

            img {
                width: 65%;
            }
        }

        .sec2-container {
            position: absolute;
            right: 9.5rem;
            top: 13rem;
            width: 35rem;
            height: 30rem;
            color: $color-white;
    
            @include flex-space-between;

            p {
                opacity: .75;
            }
        }
    }

    /* --------- SECTION 3 ------------ */
    .section-3 {
        margin-top: 5rem;
        width: 100%;
        height: 32rem;
        background-image: url(/assets/home/desktop/image-speaker-zx7.jpg);
        background-size: cover;
        background-position: top;

        position: relative;

        .sec3-container {
            width: 22rem;
            height: 12rem;
            position: absolute;
            top: 50%;
            left: 10rem;
            transform: translate(0, -50%);

            @include flex-space-between;
        }
    }

    /* --------- SECTION 4 ------------ */
    .section-4 {
        margin-top: 5rem;
        width: 100%;
        height: 32rem;

        display: flex;
        justify-content: space-between;

        .sec4-left, .sec4-right {
            width: 54rem;
            height: 100%;
            border-radius: .5rem;
        }

        .sec4-left {
            background-image: url(/assets/home/desktop/image-earphones-yx1.jpg);
            background-size: cover;
            background-position: top;
        }

        .sec4-right {
            background-color: $color-secondary-light3;
    
            position: relative;

            .sec4-container {
                height: 12rem;
                position: absolute;
                top: 50%;
                left: 10rem;
                transform: translateY(-50%);
        
                @include flex-space-between;
            }
        }
    }

    /* --------- SECTION 5 ------------ */
    .section-5 {
        width: 100%;
        height: 58.8rem;
        margin-top: 20rem;

        display: flex;

        &-left, &-right {
            width: 50%;
            height: 100%;
            border-radius: 1rem;
        }

        &-left {
            position: relative;

            &-container {
                position: absolute;
                height: 30rem;
                width: 44.5rem;
                text-align: left;
                top: 50%;
                transform: translateY(-50%);

                @include flex-space-between;

                .heading-2 {
                    span {
                        color: $color-primary;
                    }
                }

                .paragraph {
                    color: rgba($color-black, .5);
                    letter-spacing: normal;
                    font-weight: 500;
                }
            }
        }

        &-right {
            background-image: url(/assets/shared/desktop/image-best-gear.jpg);
            background-size: cover;
            background-position: top;
        }
    }
}